body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Cor de fundo para visualização */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 400px; /* Largura reduzida para melhor visualização em um exemplo */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    text-align: center; /* Centraliza o conteúdo dentro da div */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave para efeito visual */
}

.titulo-principal {
    color: orange; /* Cor laranja para o título principal */
}

.subtitulo {
    color: black; /* Cor preta para os subtítulos */
    margin-top: 10px; /* Espaçamento entre os subtítulos */
}

form {
    margin-top: 20px; /* Espaçamento superior para o formulário */
    text-align: left; /* Alinha o texto do formulário à esquerda */
}

label {
    display: block; /* Faz com que as labels ocupem uma linha inteira */
    margin-bottom: 8px; /* Espaçamento inferior entre as labels */
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="submit"] {
    width: 100%; /* Ocupa toda a largura disponível */
    padding: 8px; /* Espaçamento interno dos campos de entrada */
    margin-bottom: 12px; /* Espaçamento inferior entre os campos de entrada */
    border: 1px solid #ccc; /* Borda dos campos de entrada */
    border-radius: 4px; /* Borda arredondada dos campos de entrada */
    box-sizing: border-box; /* Garante que o padding não altere a largura total */
}

input[type="submit"] {
    background-color: rgb(235, 160, 21); /* Cor de fundo do botão de submit */
    color: #fff; /* Cor do texto do botão de submit */
    border: none; /* Remove a borda do botão de submit */
    cursor: pointer; /* Altera o cursor ao passar sobre o botão de submit */
}

input[type="submit"]:hover {
    background-color: orange; /* Cor de fundo do botão de submit ao passar o mouse */
}

p {
    margin-top: 10px; /* Espaçamento superior para o parágrafo de erro */
}
